.fixedWindow {
  position: absolute;
  height: 100%;
  width: 100%;
  /* prevent small white footer in browser */
  overflow: hidden;
}

.treabeard-hovered {
  background-color: #1e1e1e;
}

[class*="SimpleFormIterator-index"] {
  display: none !important;
}

[class*="SimpleFormIterator-action"] {
  display: flex;
  align-items: center;
  padding: 16px;
}

/* Make files tab in upload section 100% width */
.ra-input.ra-input-files > [class*="MuiFormControl-root"] {
  width: 100%;
}
